/* For this project I'm trying out the SMACSS method of organizing my stylesheet. Shout out to Jonathan Snook for the definitions of the 5 parts of style. See: https://css-tricks.com/methods-organize-css/   */

/* =======================================
~ ~ ~ ~ ~ ~ ~ ~ B A S E ~ ~ ~ ~ ~ ~ ~ ~
======================================= */
/* (1) Base rules. 
These are styles of the main website elements – body, input, button, ul, ol, etc. 
In this section, we use mainly HTML tags and attribute selectors, in exceptional cases – classes (for example, if you have JavaScript-style selections); */
/* .
|-------------|
| FONT STYLEE |
|-------------|
Raleway is our header font 
Opens Sans our body font 
|-------------|
| FONT FAMLEE |
|-------------|
font-family: "Open Sans", sans-serif;
font-family: "Raleway", sans-serif;
. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
}
h2,
legend {
  font-size: 1.25rem;
  margin-top: 1.75rem;
}
h1,
.form-header {
  text-align: center;
}
h1,
h2,
legend {
  font-family: "Raleway", sans-serif;
}
legend {
  font-weight: 600;
}
main,
footer {
  margin-left: 25px;
  margin-right: 25px;
}

fieldset {
  border: none;
}

textarea {
  resize: none;
  display: block;
  height: 8rem;
  width: 100%;
  border-radius: 10px;
  border: none;
  background: lightgray;
  margin-top: 1.5rem;
}
button {
  width: 100%;
  height: 4rem;
  border-radius: 10px;
  border: none;
  font-weight: 600;
}
/* =======================================
~ ~ ~ ~ ~ ~ ~ L A Y O U T ~ ~ ~ ~ ~ ~ ~ 
======================================= */
/* (2) Layout rules. 
Here are the styles of global elements, the size of the cap, footer, sidebar, etc.
Jonathan suggests using id here in selectors since these elements will not occur more than 1 time on the page. 
However, the author of the article considers this a bad practice (whenever an id appears in the styles, somewhere in the world the kitten is sad). */
header,
.form-header {
  display: flex;
  flex-direction: column;
}
header {
  justify-content: center;
  align-items: center;
}
.form-header {
  justify-content: center;
  padding-bottom: 5px;
  border-bottom: 2px solid orchid;
}
header:first-child {
  height: 10vh;
  background-color: coral;
}
.form-header {
  background-color: blue;
}
.check {
  border: 1px solid olivedrab;
  margin-left: 5px;
}
.check,
.radio {
  padding-left: 5px;
}

span {
  margin-top: 0.5rem;
  padding-bottom: 2rem;
  border-bottom: 5px solid orchid;
}
fieldset:nth-of-type(1) {
  padding-bottom: 1.75rem;
  border-bottom: 2px solid orchid;
}
fieldset:nth-of-type(1) label {
  background-color: lightseagreen;
  display: block;
}
fieldset:nth-of-type(1) input,
select {
  width: 100%;
}
fieldset:nth-of-type(2) legend {
  border: 1px solid chocolate;
  padding-bottom: 1.75rem;
}
fieldset:nth-of-type(2) input {
  margin-right: 5px;
}

#zip-code {
  border: 3px solid teal;
  width: 50%;
  min-width: 6em;
  max-width: 12em;
}
footer {
  margin-top: 1.5rem;
  text-align: center;
  height: 30vh;
}
/* =======================================
~ ~ ~ ~ ~ ~ ~ M O D U L E ~ ~ ~ ~ ~ ~ ~ 
======================================= */
/* (3) Modules rules. 
Blocks that can be used multiple times on a single page. 
For module classes, it is not recommended to use id and tag selectors (for reuse and context independence, respectively). */
.input-wrapper {
  margin-top: 1rem;
}
fieldset:nth-of-type(1) .input-wrapper input,
select {
  height: 3em;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  background-color: lightgray;
  margin-top: 0.5rem;
}

/* =======================================
~ ~ ~ ~ ~ ~ ~ S T A T E ~ ~ ~ ~ ~ ~ ~ ~
======================================= */
/* (4) State rules. 
In this section, the various statuses of the modules and the basis of the site are prescribed. 
This is the only section in which the use of the keyword “! Important” is acceptable. */

/* =======================================
~ ~ ~ ~ ~ ~ ~ T H E M E ~ ~ ~ ~ ~ ~ ~ ~
======================================= */
/* (5) Theme rules. 
Design styles that you might need to replace. */

/* =======================================
~ ~ ~ ~ M E D I A ~ Q U E R I E S ~ ~ ~ ~
======================================= */

@media screen and (min-width: 768px) {
  header:first-child {
    height: 5vw;
  }
  main {
    margin: auto;
  }
  form {
    width: 715px;
    margin: auto;
  }
  body {
    background-color: pink;
  }

  fieldset:nth-of-type(1) .input-wrapper {
    background-color: brown;
    display: flex;
    align-items: center;
  }

  fieldset:nth-of-type(1) label,
  fieldset:nth-of-type(1) input {
    display: inline;
  }

  fieldset:nth-of-type(1) .input-wrapper input {
    align-self: flex-end;
  }

  fieldset:nth-of-type(1) input,
  select {
    width: 70%;
    margin-right: 0;
    margin-left: auto;
  }
  #zip-code {
    margin-right: auto;
    margin-left: 150px;
  }
  h1 {
    font-size: 1rem;
  }

  .opt-wrapper:nth-of-type(2) {
    margin-top: 1.5rem;
  }
  fieldset:nth-of-type(1) .input-wrapper input,
  select {
    margin-top: 0;
  }
}
